# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
